.question-title {
  font-size: 18px;
  margin-bottom: 0.5rem;
  font-weight: 600;
  margin-block-start: 0;
}

.score {
  font-size: 24px;
}

.score span {
  font-weight: 600;
  margin-left: 0.5rem;
  border: 2px solid black;
  padding: 0.5rem;
  font-size: 2rem;
}

.question-label {
  color: #7d4cdb;
  font-size: 1rem;
  font-style: italic;
  font-weight: 600;
}
